@model Article
@{
    ViewData["Title"] = "Mi inicio";
}
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1><br />
    <p> Este es un blog creado para subir articulos de determinados tipos :).</p>
</div>
